@media only screen and (min-device-width: 400px) {
    *{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(17, 17, 17);
    }
    h1, h2, h4{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(1, 90, 35);
    }
    
    main{
       
        background-color: beige;
       
    }

    
    
    .mainNav{
        position: sticky;
        top: auto;
    }
    
    .mainNav ul{
        list-style-type: none;
        padding: auto;
        margin: auto;
        display: flex;
        background-color: aquamarine;
        flex-flow: row wrap;
    }
    
    .mainNav li{
        flex-grow: 1;
        width: calc(25% - .2em);
        border: 1em, rgb(1, 90, 35) solid;
    }
    
    .textNav{
        padding-left: 60px;
    }
    
    .mainNav a{
        background-repeat: no-repeat;
        background-size: 50px auto;
        background-position: .5em center;
        min-height: 50px;
        line-height: 50px;
        text-decoration: none;
        display: block;
        color: rgb(17, 17, 17);
    }
    
    .mainNav a:hover{
        background-color: blanchedalmond;
    }

    #link{
        text-align: center;
        background-color: aquamarine;
        border: solid black 1px;
        padding: 2em;
        margin: 2px;
        
    }
    #link table{
        position: relative;
        left: 25%;
    }
    
  
    
}
.table{
    border: 1px solid;
    border-collapse: collapse;
    
  }

footer{
    text-align: center;
    
}

img{
    width: 80%;
    /*min-width: 200px;
    max-width: 300px;*/
    height: auto;
    margin:  auto;
    display: block;
}

a{
    text-decoration: none;
}

